<div class="container">
  <p>To-Do List</p>
  <button *ngIf="role === 'admin'" routerLink="/add" class="btn btn-dark">Ajouter</button>

  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Date de création</th>
        <th *ngIf="role === 'admin'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tache of ListarTache">
        <td>{{tache.title}}</td>
        <td>{{tache.description}}</td>
        <td>{{tache.created_at}}</td>
        <td>
          <button *ngIf="role === 'admin'" (click)="update(tache.id)" class="btn btn-primary">Modifier</button>
          <button *ngIf="role === 'admin'" (click)="delete(tache.id)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
