<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow-lg" style="min-width: 400px;">
    <h2 class="text-center mb-4">
      {{ isLogin ? 'Connexion' : 'Inscription' }}
    </h2>

    <form (submit)="isLogin ? login() : register(); $event.preventDefault()">

      <div *ngIf="!isLogin" class="mb-3">
        <label for="name" class="form-label">Nom complet</label>
        <input type="text" [(ngModel)]="registerData.name" name="name" id="name" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input
          type="email"
          *ngIf="isLogin"
          [(ngModel)]="user.email"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <input
          type="email"
          *ngIf="!isLogin"
          [(ngModel)]="registerData.email"
          name="registerEmail"
          id="registerEmail"
          class="form-control"
          required
        />
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Mot de passe</label>
        <input
          type="password"
          *ngIf="isLogin"
          [(ngModel)]="user.password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <input
          type="password"
          *ngIf="!isLogin"
          [(ngModel)]="registerData.password"
          name="registerPassword"
          id="registerPassword"
          class="form-control"
          required
        />
      </div>

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">
          {{ isLogin ? 'Se connecter' : 'S\'inscrire' }}
        </button>
      </div>
    </form>

    <p class="text-center">
      <a href="#" (click)="toggleForm(); $event.preventDefault()" class="text-decoration-none">
        {{ isLogin ? 'Créer un compte' : 'J\'ai déjà un compte' }}
      </a>
    </p>
  </div>
</div>
